.primary{
    padding:  8px 48px;
    font-size: 15px;
    background-color: #0B8FAC;
    color: white;

    border: 1px solid transparent;
    border-radius: 100px;

    cursor: pointer;

    transition: 0.3s;
}

.primary:hover{
    border-color: #0B8FAC;
    background-color: transparent;
    color: #0B8FAC;
    
}